<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon"><i class="material-icons">assignment</i></div>
            <h4 class="card-title">{{ 'myschool.userTitle' | translate }}</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <button mat-raised-button class="btn btn-behance"
                (click)="open(content, true)">{{ 'myschool.newUserBtn' | translate }}
              </button>
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                width="100%" style="width:100%">
                <thead>
                  <th>{{ 'myschool.id' | translate }}</th>
                  <th>{{ 'myschool.nameEng' | translate }}</th>
                  <th>{{ 'myschool.village' | translate }}</th>
                  <th>{{ 'myschool.mandal' | translate }}</th>
                  <th>{{ 'myschool.category' | translate }}</th>
                  <th>{{ 'myschool.dob' | translate }}</th>
                  <th>{{ 'myschool.actions' | translate }}</th>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td>{{user?.userId}}</td>
                    <td>{{user?.firstName + ' ' + user?.lastName}}</td>
                    <td>{{user?.address?.village}}</td>
                    <td>{{user?.address?.mandal}}</td>
                    <td>{{user?.category?.name}}</td>
                    <td>{{user?.dateOfBirth | date}}</td>
                    <td class="">
                      <a href="javascript:void(0)" class="btn btn-link btn-warning btn-just-icon edit" (click)="open(content, false, user)"><i class="material-icons">dvr</i></a>
                      <a href="javascript:void(0)" class="btn btn-link btn-danger btn-just-icon remove" (click)="openDelete(deleteConfirm, user)"><i class="material-icons">close</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{manageSchoolHeading}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="inputCity">{{ 'sms.selectOrganisation' | translate }}</label>
        <select class="form-control" id="sel1" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="schoolObj['organizationId']">
          <option *ngFor="let org of organisations" [value]="org.id"> {{org.orgNameEng}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="inputCity">{{ 'sms.departmentTitle' | translate }}</label>
        <select class="form-control" id="sel1" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="schoolObj['departmentId']">
          <option *ngFor="let loc of departments" [value]="loc.departmentId"> {{loc.departmentNameEng}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="inputAddress">
          <b> {{ 'sms.schoolNameEng' | translate }}</b>
        </label>
        <input type="text" class="form-control" id="inputAddress" [(ngModel)]="schoolObj['schoolNameEng']"
          [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label for="inputAddress1">
          <b> {{ 'sms.schoolNameAr' | translate }}</b>
        </label>
        <input type="text" class="form-control" id="inputAddress1" [(ngModel)]="schoolObj['schoolNameAr']"
          [ngModelOptions]="{standalone: true}">
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warn" (click)="modal.close('cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveOrUpdate()">{{isNew?'Save':'Update'}}</button>
  </div>
</ng-template>


<ng-template #deleteConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title"> {{ 'sms.schoolDelete' | translate }}</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to delete
        <span class="text-primary">User: {{deletionSchool.schoolNameAr}}
        </span> ?</strong>
    </p>
    <p>All information associated with this will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onDeleteConfirmation()">Ok</button>
  </div>
</ng-template>