<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon"><i class="material-icons">assignment</i></div>
            <h4 class="card-title">{{ 'myschool.schoolTitle' | translate }}</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <button mat-raised-button class="btn btn-behance"
                (click)="open(content, true)">{{ 'myschool.newSchoolBtn' | translate }}
              </button>
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                width="100%" style="width:100%">
                <thead>
                  <th>{{ 'myschool.id' | translate }}</th>
                  <th>{{ 'myschool.nameEng' | translate }}</th>
                  <th>{{ 'myschool.village' | translate }}</th>
                  <th>{{ 'myschool.mandal' | translate }}</th>
                  <th>{{ 'myschool.type' | translate }}</th>
                  <th>{{ 'myschool.createdDate' | translate }}</th>
                  <th>{{ 'myschool.actions' | translate }}</th>
                </thead>
                <tbody>
                  <tr *ngFor="let school of schools">
                    <td>{{school.schoolId}}</td>
                    <td>{{school.name}}</td>
                    <td>{{school.address.village}}</td>
                    <td>{{school.address.mandal}}</td>
                    <td>{{school.type.name}}</td>
                    <td>{{school.createdDate | date}}</td>
                    <td class="">
                      <a href="javascript:void(0)" class="btn btn-link btn-warning btn-just-icon edit"
                        (click)="open(content, false, school)"><i class="material-icons">dvr</i></a>
                      <a href="javascript:void(0)" class="btn btn-link btn-danger btn-just-icon remove"
                        (click)="openDelete(deleteConfirm, school)"><i class="material-icons">close</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{manageSchoolHeading}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="schoolGroup">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="bmd-label-floating">Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="bmd-label-floating">type</label>
            <input type="text" class="form-control" formControlName="typeId">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="bmd-label-floating">Anniversary</label>
            <input type="date" class="form-control" formControlName="anniversary">
          </div>
        </div>
      </div>
      <div formGroupName="address">
        <h5 class="card-title">Address</h5>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label class="bmd-label-floating">House Number</label>
              <input type="text" class="form-control" formControlName="houseNum">
              <div class="error text-danger" *ngIf="schoolGroup.get('address').get('houseNum').hasError('required') 
                && schoolGroup.get('address').get('houseNum').touched">
                House Number is required
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="bmd-label-floating">Street</label>
              <input type="text" class="form-control" formControlName="street">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Village</label>
              <input type="email" class="form-control" formControlName="village">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Landmark</label>
              <input type="text" class="form-control" formControlName="landmark">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">Mandal</label>
              <input type="text" class="form-control" formControlName="mandal">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">District</label>
              <input type="text" class="form-control" formControlName="district">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">State</label>
              <input type="text" class="form-control" formControlName="state">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="bmd-label-floating">Postal Code</label>
              <input type="text" class="form-control" formControlName="pincode">
            </div>
          </div>
        </div>
      </div>
      <!-- <app-address></app-address> -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warn" (click)="modal.close('cancel')">Cancel</button>
    <!-- <button type="button" class="btn btn-primary" (click)="saveOrUpdate()">{{isNew?'Save':'Update'}}</button> -->
    <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="saveOrUpdate()">save
      Profile</button>
  </div>
</ng-template>


<ng-template #deleteConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title"> {{ 'Delete school' | translate }}</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to delete
        <span class="text-primary">School: {{deletionSchool.name}}
        </span> ?</strong>
    </p>
    <p>All information associated with this will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onDeleteConfirmation()">Ok</button>
  </div>
</ng-template>